html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: border-box; }


body {
    background-color: #0093d0;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 60rem) 1fr;
    grid-template-areas: 
        ". header ."
        ". main ."
}

img {
    max-width: 100%;
}

/* breedte middelste kolom moet overeenkomen met breedte van grid dat ik voor
intro gebruikt heb om te zorgen dat intro mooi in het midden staat*/

h2 {
    color: white;
    letter-spacing: -0.04em;
    padding: 0;
    margin: 0 0 0 0;
}

.title {
    color: white;
    font-size: 15em;
}

.subtitle {
    color: white;
    font-size: 11em;
}

h3 {
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

h4 {
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.header {
    grid-area: header;
}

.navigation ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    font-size: 1.2rem;
}

.nav-left {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    flex-grow: 18;
    justify-content: flex-end;
}

.main {
    grid-area: main;
}

.intro {
    margin-top: -7rem;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(3, minmax(11rem, 20rem));
    grid-template-rows: repeat(3, 20rem);
    grid-template-areas:
    "big big normal1"
    "big big long"
    "normal2 normal3 long"
}

.background-image {
    z-index: -2;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.event{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.date {
    display: none;
}

.event:hover .date {
    display: block;
}

/* Kan ook met een grid in een grid: één kolom en één rij waarin plaatje staat
en ook de content, en dan positioneren met end e.d. */

.event-content {
    position: absolute;
    padding-bottom: 1.5rem;
    margin-left: 2rem;
    max-width: 16rem;
}

 

.event-normal1 {
    grid-area: normal1;
}

.event-normal2 {
    grid-area: normal2;
}

.event-normal3 {
    grid-area: normal3;
}

.event-big {
    grid-area: big;
    grid-row: span 2;
    grid-column: span 2;
} 

.event-long {
    grid-area: long;
}

.programma {
    grid-area: programma;
}

.programma .subtitle {
    margin-bottom: -3.25rem;
}

.subsubtitle {
    font-weight: bold;
}

.vandaag {
    z-index: -1;
    display: flex;
}

.event-today {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.details {
    position: absolute;
    padding-bottom: 1.5rem;
    margin-left: 2rem;
    max-width: 16rem;
}

    .event-title {
        padding: 0;
        margin: 0;
        font-weight: bold;
    }

    .event-details {
        padding: 0;
        margin: 0;
    }

.background-today {
    z-index: -2;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

