html { box-sizing: border-box; }
*, *:after, *:before { box-sizing: border-box; }


body {
    background-color: #0093d0;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 80rem) 1fr;
    grid-template-areas: 
        ". header ."
        ". main ."
}
/* bloksgewijs je html en css opbouwen */

h2 {
    color: white;
    letter-spacing: -0.04em;
}

.title {
    color: white;
    font-size: 15em;
}

.subtitle {
    color: white;
    font-size: 11em;
}

h3 {
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

h4 {
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

p {
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.header {
    grid-area: header;
}

.navigation ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

.nav-left {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    flex-grow: 18;
    justify-content: flex-end;
}

.main {
    grid-area: main;
}

.intro {
    margin-top: -19rem;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(3, minmax(11rem, 20rem));
    grid-template-rows: 305px 244px 305px;
    grid-template-areas:
    "big big normal1"
    "big big long"
    "normal2 normal3 long"
}

.background-image {
    z-index: -2;
    width: 100%;
    position: relative;
    top: 0;
}

.event{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.event-content {
    position: absolute;
    padding-bottom: 1.5rem;
    margin-left: 2rem;
    max-width: 16rem;
}

.event-normal1 {
    grid-area: normal1;
}

.event-normal2 {
    grid-area: normal2;
}

.event-normal3 {
    grid-area: normal3;
}

.event-big {
    grid-area: big;
    grid-row: span 2;
    grid-column: span 2;
    
} 

.event-long {
    grid-area: long;
}

.programma {
    grid-area: programma;
}

/*events
flex container maken daarin weer div met class event-content

dan de container:
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 25rem;

de content die dan links onderin staat:
margin: 4rem;
max-width: 64rem;
*/

/* let op bij indelen events uit intro: 
grid-template-columns: repeat(3, 1fr);
*/